
.about-me {
  text-align: center;
}
.text{
 font-size:60px;
 font-weight: 900;
 cursor: pointer
}
.box{
  width: 300px;
  height: 100px;
  background-color: springgreen;
  margin:60px auto; 
  cursor: pointer;
}
.text:hover, .box:hover{
  animation:  flipV ls line;
}
@keyframe flipV{
  50%{
    tranform: rotateX(180deg); 
  }
  to{
    transform: rotateX(360deg);
  }
}
